<div>
    <ul id="put" class="collapsible">
        <li>
          <div class="collapsible-header teal accent-1"><i class="material-icons">ac_unit</i>¿Qué es ODBC y para qué es útil?</div>
          <div class="collapsible-body white"><span>Open DataBase Connectivity (ODBC) es un estándar de acceso a las bases de datos desarrollado por SQL Access Group (SAG) en 1992. El objetivo de ODBC es hacer posible el acceder a cualquier dato desde cualquier aplicación, sin importar qué sistema de gestión de bases de datos (DBMS) almacene los datos.</span></div>
        </li>
        <li>
            <div class="collapsible-header teal accent-2"><i class="material-icons">apps</i>¿Qué es SQL Injection?</div>
            <div class="collapsible-body white">
                <span>El término "inyección SQL" hace referencia a un ataque contra un sitio o aplicación web en el que se añade código de lenguaje de consulta estructurado (SQL) a un campo de entrada de un formulario web con el objetivo de acceder a una cuenta o modificar los datos.    
                </span>
            </div>
        </li>
        <li>
            <div class="collapsible-header teal accent-3"><i class="material-icons">announcement</i>¿Qué técnicas puedes utilizar para evitar ataques de SQL Injection?</div>
            <div class="collapsible-body white"><span>
                
            <ul class="collection">
                <li class="collection-item">La mayoría de las instancias de inyección SQL se pueden evitar utilizando consultas parametrizadas (también conocidas como sentencias preparadas) en lugar de la concatenación de cadenas dentro de la consulta.</li>
            </ul></span>
        </div>
        </li>
      </ul>
  </div>