  <ul class="collection">
    <li class="collection-item avatar">
        <a href="selectAllChamps.php" class="collection-item black-text">
            <i class="material-icons circle orange darken-3">search</i>
            <span class="title"><strong>Ve todos los Campeones Registrados</strong></span>
            <p>Consulta la base de datos, y ve una lista desplegable de los Campeones de LoL que estan registrados</p></a>
        </li>
        <li class="collection-item avatar">
        <a href="selectChampRegion.php" class="collection-item black-text">
            <i class="material-icons circle orange darken-3">search</i>
            <span class="title"><strong>Busca Campeones de una determinada Region</strong></span>
            <p>Consulta la base de datos, y ve una lista desplegable de los Campeones de LoL por Region</p></a>
        </li>
        <li class="collection-item avatar">
        <a href="selectChampChar.php" class="collection-item black-text">
            <i class="material-icons circle orange darken-3">attach_file</i>
            <span class="title"><strong>Busca Campeones por alguna letra.</strong></span>
            <p>Consulta la base de datos, y ve una lista desplegable de los Campeones de LoL por su primera letra del nombre</p></a>
        </li>
        <li class="collection-item avatar">
            <a href="answers.php" class="collection-item black-text">
            <i class="material-icons circle orange darken-3">warning</i>
            <span class="title"><strong>Preguntas</strong></span>
            <p>Consulta las preguntas de este Lab</p></a>
        </li>
  </ul>