<br>
</div>
</main>

<footer class="page-footer indigo darken-4">
    <div class="footer-copyright">
      <div class="container center-align">
      © 2020      <strong>A01703455</strong> - Luis Jesus Morales Juarez
      </div>
      </div>
    </div>
</footer>
    

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<script src="js/ajax.js"></script>
<script>
    M.AutoInit();
</script>
</body>

</html>