<br>
<h4>Ingresa al sistema</h4>
<div class="divider"></div>
<br><br>
    <form class="col s12" method="POST" action="logrequest.php">
        <div class="row">
            <div class="input-field col s6 offset-s3">
                <i class="material-icons prefix">airline_seat_recline_normal</i>
                <input placeholder="Nombre de Usuario" id="user" name="user" type="text" class="validate" required>
                <label for="text">Nombre de usuario</label>
            </div>
        </div>
            <div class="row">
                <div class="input-field col s6 offset-s5">
                    <button class="btn waves-effect indigo darken-4" type="submit" name="action" class="validate">Enviar
                      <i class="material-icons right">add</i>
                    </button>
                </div>
            </div>    
        </div>
    </form>

  