  <ul class="collection">
    <li class="collection-item avatar">
        <a href="formularioIncidente.php" class="collection-item black-text">
            <i class="material-icons circle indigo darken-4">add_circle</i>
            <span class="title"><strong>Registra un incidente en Jurasicc Park</strong></span>
            <p>Si se presento un incidente reportalo aqui, y ayudanos a mantener el parque seguro</p></a>
        </li>
        <li class="collection-item avatar">
        <a href="selectAllIncidentes.php" class="collection-item black-text">
            <i class="material-icons circle indigo darken-4">search</i>
            <span class="title"><strong>Ve todos los Incidentes Registrados</strong></span>
            <p>Consulta la base de datos, y ve una lista desplegable de los Incidentes presentados en Jurasicc Park que estan registrados</p></a>
        </li>
        <li class="collection-item avatar">
            <a href="selectChampAJAX.php" class="collection-item black-text">
                <i class="material-icons circle indigo darken-4">search</i>
                <span class="title"><strong>Ve todos los Lugares Registrados con AJAX</strong></span>
                <p>Consulta la base de datos, y ve una lista desplegable de los Lugares con Incidentes presentados en Jurasicc Park que estan registrados</p></a>
        </li>
  </ul>