<div>
    <ul id="put" class="collapsible">
        <li>
          <div class="collapsible-header teal accent-1"><i class="material-icons">ac_unit</i>¿Qué importancia tiene AJAX en el desarrollo de RIA's (Rich Internet Applications?</div>
          <div class="collapsible-body white"><span>Las aplicaciones web tradicionales almacenan grandes cantidades de datos para cada entrada de usuario de una sola vez, de modo que las pausas y las esperas se producen durante la ejecución. Mientras que AJAX almacena datos en buffers repetidamente, de modo que sólo hay que volver a cargar partes de la interfaz de usuario y se pierde muy poco durante las interrupciones de la conexión. Anteriormente, la interacción entre los servidores y los usuarios estaba dominada por largas peticiones desde el navegador al servidor y los usuarios tenían que esperar extensos procesos de almacenamiento de datos para obtener la respuesta.</span></div>
        </li>
        <li>
            <div class="collapsible-header teal accent-2"><i class="material-icons">announcement</i>¿Qué implicaciones de seguridad tiene AJAX? ¿Dónde se deben hacer las validaciones de seguridad, del lado del cliente o del lado del servidor?</div>
            <div class="collapsible-body white"><span>
                
            <ul class="collection">
                <li class="collection-item">AJAX, Asynchronous Javascript and XML, es una técnica que permite presentar la información con CSS y DOM. Esta técnica permite crear aplicaciones interactivas ricas, las cuales se ejecutan en el lado del cliente, client-side, en el navegador. El funcionamiento de AJAX es sencillo, mientras la aplicación se ejecuta en el navegador del cliente, la comunicación se lleva a cabo de manera asíncrona en segundo plano con el servidor. Esto permite crear el efecto de que el sitio web va cambiando en función de las necesidades, por la actualización de la información en el servidor, el cual podría ser debido a otras acciones del cliente<br>
                    Hay que tener en cuenta el aumento de la superficie de ataque, es decir, la parte que se ejecuta o desarrolla en la parte del cliente, y esto hace que la exposición o superficie de ataque sea mayor. La revelación de la lógica de la aplicación hace que los posibles atacantes conozcan parte del código, ya que éste reside en la parte del cliente. Esto hace que el usuario o atacante pueda estudiar e inferir cierta parte de la lógica, y utilizarlo para llevar a cabo acciones maliciosas sobre la lógica de la aplicación. </li>
            </ul></span>
        </div>
        </li>
        <li>
            <div class="collapsible-header teal accent-3"><i class="material-icons">call</i>¿Qué es JSON?</div>
            <div class="collapsible-body white"><span>
                JSON es el acrónimo para JavaScript Object Notation, es un estándar basado en texto plano para el intercambio de información, que se usa en muchos sistemas que requieren mostrar o enviar información para ser interpretada por otros sistemas, la ventaja de JSON al ser un formato que es independiente de cualquier lenguaje de programación, es que los servicios que comparten información por éste método, cada lenguaje tiene su propia librería para codificar y decodificar cadenas de JSON.
                JSON puede representar cuatro tipos primitivos(cadenas, números, booleanos, valores nulos) y dos tipos estructurados(objetos y arreglos).
                <br>En JSON:<br>
                <ul class="collection">
                <li class="collection-item">Una Cadena es una secuencia de ceros o más caracteres Unicode.</li>
                <li class="collection-item"> Un Objeto es una colección desordenada de cero o más pares nombre:valor, donde un nombre es una cadena y un valor es una cadena, número, booleano, nulo, objeto o arreglo.</li>
                <li class="collection-item">Un Arreglo es una secuencia desordenada de ceros o más valores.</li></ul>
            </span></div>
          </li>
      </ul>
  </div>