  <ul class="collection">
    <li class="collection-item avatar">
        <a href="selectAllChamps.php" class="collection-item black-text">
            <i class="material-icons circle indigo darken-4">search</i>
            <span class="title"><strong>Ve todos los Campeones Registrados</strong></span>
            <p>Consulta la base de datos, y ve una lista desplegable de los Campeones de LoL que estan registrados</p></a>
        </li>
        <li class="collection-item avatar">
        <a href="selectChampRegion.php" class="collection-item black-text">
            <i class="material-icons circle indigo darken-4">location_on</i>
            <span class="title"><strong>Busca Campeones de una determinada Region</strong></span>
            <p>Consulta la base de datos, y ve una lista desplegable de los Campeones de LoL por Region</p></a>
        </li>
        <li class="collection-item avatar">
        <a href="selectChampAJAX.php" class="collection-item black-text">
            <i class="material-icons circle indigo darken-4">attach_file</i>
            <span class="title"><strong>Busca Campeones por nombre con AJAX.</strong></span>
            <p>Consulta la base de datos, y ve una lista desplegable de los Campeones de LoL mientras estas utilizando AJAX OWO</p></a>
        </li>
        <li class="collection-item avatar">
        <a href="formularioChamp.php" class="collection-item black-text">
            <i class="material-icons circle indigo darken-4">add_circle</i>
            <span class="title"><strong>Añade un Campeon</strong></span>
            <p>Añade un campeon a la base de datos y consulta al mismo tiempo que el valor se haya ingresado.</p></a>
        </li>
        <li class="collection-item avatar">
            <a href="borraChamp.php" class="collection-item black-text">
            <i class="material-icons circle indigo darken-4">delete_sweep</i>
            <span class="title"><strong>Elimina un campeon</strong></span>
            <p>Elimina un campeon a la base de datos y consulta al mismo tiempo que el valor se haya borrado.</p></a>
        </li>
        <li class="collection-item avatar">
            <a href="answers.php" class="collection-item black-text">
            <i class="material-icons circle indigo darken-4">hot_tub</i>
            <span class="title"><strong>Preguntas</strong></span>
            <p>Consulta las preguntas de este Lab</p></a>
        </li>
  </ul>