<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Laboratorio 9. Introducción a PHP</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <nav>
        <div class="nav-wrapper cyan">
            <a href="../index.php" class="brand-logo">   Lab 9 🐘 </a>

        </div>
    </nav>
    <div class="container">
        <h3>Laboratorio 9. Introduccion a PHP</h3>
        <br>