
    
<h5>Sube una imagen al album</h5>
        <div class="row">
          <form action="chargefotos.php" method="POST" enctype="multipart/form-data">
            <div class="file-field input-field col s12 l12">
              <div class="lime darken-4 btn"><i class="material-icons left">add_a_photo</i>Seleciona una foto</a>
              <input type="file" name="imagen">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
            <input type="submit" class="waves-effect lime darken-4 btn" name="submit" value="Subir">
          </div>
        </form>
