  <ul class="collection">
    <li class="collection-item avatar">
        <a href="chargefotosform.php" class="collection-item black-text">
            <i class="material-icons circle orange darken-3">attach_file</i>
            <span class="title"><strong>Sube una foto</strong></span>
            <p>Carga una foto al sistema</p></a>
        </li>
        <li class="collection-item avatar">
            <a href="album.php" class="collection-item black-text">
            <i class="material-icons circle orange darken-3">album</i>
            <span class="title"><strong>Album</strong></span>
            <p>Consulta las fotos que has subido</p></a>
        </li>
        <li class="collection-item avatar">
            <a href="answers.php" class="collection-item black-text">
            <i class="material-icons circle orange darken-3">warning</i>
            <span class="title"><strong>Preguntas</strong></span>
            <p>Consulta las preguntas de este lab</p></a>
        </li>
  </ul>