<div>
    <ul id="put" class="collapsible">
        <li>
          <div class="collapsible-header teal accent-1"><i class="material-icons">ac_unit</i>¿Por qué es una buena práctica separar el controlador de la vista?</div>
          <div class="collapsible-body white"><span>Es bastante importante que una aplicacion Web separe el controlador de la vista, ya que es una mejor manera de procesar los datos, ademas, permite realizar una doble validacion de los datos, y a su vez, prevenir ataques, pues podemos validar los datos desde la pagina Web, y desde el servidor</span></div>
        </li>
        <li>
            <div class="collapsible-header teal accent-2"><i class="material-icons">apps</i>Aparte de los arreglos $_POST y $_GET, ¿qué otros arreglos están predefinidos en PHP y cuál es su función?</div>
            <div class="collapsible-body white">
                <span>
                    <ul class="collection">
                        <li class="collection-item">Superglobals — Superglobals are built-in variables that are always available in all scopes</li>
                        <li class="collection-item">$GLOBALS — References all variables available in global scope</li>
                        <li class="collection-item">$_SERVER — Server and execution environment information</li>
                        <li class="collection-item">$_GET — HTTP GET variables</li>
                        <li class="collection-item">$_POST — HTTP POST variables</li>
                        <li class="collection-item">$_FILES — HTTP File Upload variables</li>
                        <li class="collection-item">$_REQUEST — HTTP Request variables</li>
                        <li class="collection-item">$_SESSION — Session variables</li>
                        <li class="collection-item">$_ENV — Environment variables</li>
                        <li class="collection-item">$_COOKIE — HTTP Cookies</li>
                        <li class="collection-item">$php_errormsg — The previous error message</li>
                        <li class="collection-item">$HTTP_RAW_POST_DATA — Raw POST data</li>
                        <li class="collection-item">$http_response_header — HTTP response headers</li>
                        <li class="collection-item">$argc — The number of arguments passed to script</li>
                        <li class="collection-item">$argv — Array of arguments passed to script</li>
                      </ul>
                </span>
            </div>
        </li>
        <li>
            <div class="collapsible-header teal accent-3"><i class="material-icons">announcement</i>Explora las funciones de PHP, y describe 2 que no hayas visto en otro lenguaje y que llamen tu atención.</div>
            <div class="collapsible-body white"><span>
                
            <ul class="collection">
                <li class="collection-item">die(); - Permite detener la ejecucion de cualquier Script de una manera muy sencilla</li>
                <li class="collection-item">sleep(); - Permite pausar la ejecucion de cualquier Script en una cantidad de segundos definida</li>
            </ul></span>
        </div>
        </li>
        <li>
            <div class="collapsible-header teal accent-4"><i class="material-icons">ac_unit</i>¿Qué es XSS y cómo se puede prevenir?</div>
            <div class="collapsible-body white"><span>Cross-site scripting es un tipo de vulnerabilidad comun en las aplicaciones Web, que puede permitir a una tercera persona inyectar en páginas web visitadas por el usuario código JavaScript o en otro lenguaje similar. Se puede evitar usando medidas como CSP Polític y validaciones en el servidor desde el inicio de la ejecucion.</span></div>
          </li>
      </ul>
  </div>