<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Laboratorio 10. Manejo de formas con PHP y Modelo de Capas</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <nav>
        <div class="nav-wrapper purple">
            <a href="index.php" class="brand-logo">   Lab 10 🐘 </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="index.php" >Contesta este formulario</a></li>
                <li><a href="answers.php"">Ve las preguntas del Lab</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h3>Laboratorio 10. Manejo de formas con PHP y Modelo de Capas</h3>
        <br>