<div>
    <ul id="put" class="collapsible">
        <li>
          <div class="collapsible-header teal accent-1"><i class="material-icons">ac_unit</i>¿Por qué es una buena práctica separar el modelo del controlador?</div>
          <div class="collapsible-body white"><span>Un problema muy común para los programadores es la reutilización del código que ya tienen hecho. A veces hay que resolver un problema parecido a algo que ya tenemos hecho, mejorar el aspecto de un programa, mejorar su algoritmo, etc. Esta tarea se facilita mucho si a la hora de programar tenemos la precaución de separar el código en varias partes que sean susceptibles de ser reutilizadas sin modificaciones.</span></div>
        </li>
        <li>
            <div class="collapsible-header teal accent-3"><i class="material-icons">announcement</i>¿Qué es SQL injection y cómo se puede prevenir?</div>
            <div class="collapsible-body white"><span>
                
            <ul class="collection">
                <li class="collection-item">Un ataque SQL Injection se produce cuando el atacante intenta inyectar código SQL malicioso en la base de datos de la víctima, y fuerza a la base de datos a ejecutar esa sentencia. Las sentencias pueden hacer cosas como destruir las tablas de la base datos o extraer información privada como contraseñas.<br>
                    La mayoría de las instancias de inyección SQL se pueden evitar utilizando consultas parametrizadas (también conocidas como sentencias preparadas) en lugar de la concatenación de cadenas dentro de la consulta.</li>
            </ul></span>
        </div>
        </li>
      </ul>
  </div>